@import 'shared';

$indent: 1.5rem;

#content > .post {
   @include main-content;
   .timestamps {
      color: #444;
      font-style: italic;
   }
   > .title {
      text-align: center;
   }
   > .body {
      margin: $containerPadding;

      img {
         width: 49%;
         margin: 0;
         padding: 1rem 1rem;
      }
      > ul {
         margin-left: 2*$indent;
      }
      li {
         .title {
            text-decoration: underline;
         }
      }
   }
   p:last-child {
      margin-bottom: 0;
   }
}
